# Ignore specific files and directories

# Diagnostic reports
/report.*.json

# Dependencies and compiled output
client/node_modules
server/node_modules
/.pnp
*.pnp.js
*.yarn/install-state.gz
client/dist
server/dist
*/build

# Logs
*/logs
*.log
*npm-debug.log*
*pnpm-debug.log*
*yarn-debug.log*
*yarn-error.log*
*lerna-debug.log*

# OS-specific files
/.DS_Store

# Test coverage
/coverage
/.nyc_output

# IDE-specific files
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code settings
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Temporary directories
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Next.js build output
/.next/
/out/

# Production build
*/build

# Miscellaneous files
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment files
.env*.local

# Vercel-specific files
.vercel

# TypeScript build info
*.tsbuildinfo
next-env.d.ts
